<h1><%= @page_title %></h1>

<form action="/surveys/new" method="post">
  <label for="title">Survey title</label>
  <input id="title" name="title" type="text">
  <button type="submit">Add Survey</button>
</form>

<a href="/">home</a>
